html {
    height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(red, yellow, green); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
p {
  font-family: 'Alegreya', serif;
}

#header {
  margin-top: 1em;
  background-image: url("../img/headerPalms.jpeg");
  background-size: 100% 100%;
  font-family: 'Alfa Slab One', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-style: inset;
  text-align: center;
  color: #FFEF6A;
}

#header h1 {
  font-size: 3.50em;
}

.formInput {
  float: none;
  margin: 0 auto;
  border-style: ridge;
  border-radius: 2%;
  background-color: #F13021;
  height: 300px;
  max-width: 450px;
}

.formInput label {
  font-weight: bold;
}

p#choiceHeading {
  font-weight: bold;
  text-align: center;
  font-size: 1.6em;
  color: #FFEF6A;
}

.nextButton {
  margin: 2em 0 2em 0;
}

.progressFrame {
  float: none;
  margin: 0.2em auto;
  padding: 1em 1em 0 1em;
  border-style: ridge;
  border-radius: 2%;
  background-color: #F13021;
  max-width: 450px;
}

#submitForm {
  margin: 0.2em
}

#errorMsg {
  color: red;
  font-weight: bold;
  text-align: center;
}

.hide {
  display: none;
}

#result {
  border-style: inset;
  background-color: #44B461;
  border-radius: 2%;
}

#result h2 {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  /*color: #F13021;*/
  text-shadow: -1px 0 #FFEF6A, 0 1px #FFEF6A, 1px 0 #FFEF6A, 0 -1px #FFEF6A;
}

.resultOption {
  border-style: inset;
  background-color: white;
  margin-bottom: 0.4em;
  border-radius: 2%;
}

.resultOption img {
  margin-top: .4em;
}

.resultOption h3 {
  color: #1A68E4;
  text-align: center;
}

.resultOption p {
  font-size: 1.2em;
}

#resetButton {
  margin-bottom: 0.2em;
}
